* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Sans-Serif;
  background-color: #065A82;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  max-width: 600px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #9EB3C2;
  border-radius: 10px;
}



.primeira {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.botoes {
  display: flex;
  flex-wrap: wrap;
}

#button {
  margin: 0 8px;
  display: block;
  padding: 8px 16px;
  color: #fff;
  background: #1C7293;
  border: none;
  border-radius: 5px;
  font-size: 1.125em;
}

.formulario input {
  padding: 8px 16px;
  text-align: center;
  margin-bottom: 32px;
  border-radius: 5px;
  font-size: 1.125em;
  color: #1C7293;
}



h2 {
  font-size: 1.225em;
  padding-bottom: 16px;
  text-transform: uppercase;
  color: #fff;
}

.segunda select {
  margin: 32px 0;
}

@media (max-width: 739px) {
  section {
    max-width: 300px
  }
  
  h2 {
    font-size: 1em;
  }
}